.center {
  margin-left: auto;
  margin-right: auto;
  width: 75% !IMPORTANT;
}

th {
    width: 70%;
}

.pageHeader {
  background-color: #1795d4; 
  color: white; 
  padding: 10px;
}

.logo {
  float: left; 
  margin-right: 30%;
}